<div class="jumbotron">
      <div class="container">
        <h1>{{jumbotronHeading}}</h1>
        <p>The Honest Liars is a sports podcast hosted by two brothers, Conner and Colton Blair, who have loved (and hated at times) sports since birth. Through no fault of their own they were born into a family that spent hours on end watching, analyzing, and arguing about sports. Follow along as they attempt to stay on point while discussing NBA, NFL, NCAA Football, NCAA Men&apos;s Basketball, Premier League Soccer, and much much more.</p>
        <p><a class="btn btn-primary btn-lg" href="{{jumbotronButtonUrl}}" role="button">{{jumbotronButtonText}} &raquo;</a></p>
      </div>
    </div>
